body{
  background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(254,128,238,1) 100%);
}

.title-container{
  padding-top: 10%;
  padding-left: 5%;
}

p{color: black;
line-height: 1.4;
font-family: "Arial", sans-serif;
}

.desc-container{
  padding-top: 20%;
  text-align: center;
}

p.description{
  font-size: 18px;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
}

p.more{
  font-family: "Arial", sans-serif;
  font-size: 18px;
  
}

.more-container{
  padding-top: 30%;
  text-align: center;
  padding-bottom: 10%;
}

.fa {
  padding: 20px;
  font-size: 50px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 10px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-instagram {
  background: #f00cab;
  color: rgb(0, 0, 0);
}

.fa-github{
  background: #f00cab;
  color: rgb(0, 0, 0);
}